# edit this document here:
# http://editor.swagger.io/#/
swagger: '2.0'
info:
  title: nurture
  description: Release management api
  version: "1.0.0"
# the domain of the service
host: nuture.isg.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /manifests:
    get:
      summary: Manifests
      description: |
        A manifest contains a list of application versions being worked on.
      parameters:
        - name: name
          in: query
          required: false
          type: string
      tags:
        - Manifests
      responses:
        200:
          description: An array of manifests
          schema:
            type: array
            items:
              $ref: '#/definitions/Manifest'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /manifests/{name}:
    get:
      summary: Manifest
      description: gets a single manifest
      parameters:
        - name: name
          in: path
          description: The name of the manifest to be retrieved
          required: true
          type: string
      responses:
        200:
          description: a manifest
          schema:
            $ref: '#/definitions/Manifest'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Manifest
      description: |
        create an manifest
      parameters:
        - name: name
          in: path
          description: The name of the manifest to be created
          required: true
          type: string
        - name: application_versions
          in: body
          description: a list of application versions to be applied to the manifest
          required: false
          type: Array
          items:
            type: '#/definitions/ApplicationVersion'
      responses:
        200:
          description: the manifest was created successfully
        default:
          description: Unexpected error
    put:
      summary: Manifest
      description: |
        create an manifest
      parameters:
        - name: name
          in: path
          description: The name of the manifest to be updated
          required: true
          type: string
        - name: manifests
          in: body
          description: a list of application versions to be associated to the manifest
          required: false
          type: Array
          items:
            type: ApplicationVersion
      responses:
        200:
          description: the manifest was created successfully
        default:
          description: Unexpected error
    delete:
      summary: Manifest
      description: |
        create a manifest
      parameters:
        - name: name
          in: path
          description: The name of the manifest to be created
          required: true
          type: string
      responses:
        200:
          description: the manifest was created successfully
        default:
          description: Unexpected error
  /environments:
    get:
      summary: Environments
      description: |
        A environment contains a list of manifests being worked on.
      parameters:
        - name: name
          in: query
          required: false
          type: string
      tags:
        - Environments
      responses:
        200:
          description: An array of environments
          schema:
            type: array
            items:
              $ref: '#/definitions/Environment'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /environments/{name}:
    get:
      summary: Environment
      description: gets a single environment
      parameters:
        - name: name
          in: path
          description: The name of the environment to be retrieved
          required: true
          type: string
      responses:
        200:
          description: a manifest
          schema:
            $ref: '#/definitions/Environment'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Environment
      description: |
        create an environment
      parameters:
        - name: name
          in: path
          description: The name of the environment to be created
          required: true
          type: string
        - name: manifests
          in: body
          description: a list of manifest names associated with the environment
          required: false
          type: Array
          items:
            type: string
      responses:
        200:
          description: the environment was created successfully
        default:
          description: Unexpected error
    put:
      summary: Environments
      description: |
        create an environment
      parameters:
        - name: name
          in: path
          description: The name of the environment to be updated
          required: true
          type: string
        - name: manifests
          in: body
          description: a list of manifest names associated with the environment
          required: false
          type: Array
          items:
            type: string
      responses:
        200:
          description: the environment was created successfully
        default:
          description: Unexpected error
    delete:
      summary: Environments
      description: |
        create an environment
      parameters:
        - name: name
          in: path
          description: The name of the environment to be created
          required: true
          type: string
      responses:
        200:
          description: the environment was created successfully
        default:
          description: Unexpected error
definitions:
  ApplicationVersion:
    properties:
      name:
        type: string
      value:
        type: string
  Environment:
    properties:
      name:
        type: string
  Manifest:
    properties:
      name:
        type: string
        description: the name of the manifest
      application_versions:
        type: array
        items:
          $ref: '#/definitions/ApplicationVersion'
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
