# edit this document here:
# http://editor.swagger.io/#/
swagger: '2.0'
info:
  title: nurture
  description: Release management api
  version: "1.0.0"
# the domain of the service
host: nuture.isg.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /applications:
    get:
      summary: applications
      description: |
        returns a list of applications
      responses:
        200:
          description: an array of applications
          schema:
            type: array
            items:
              $ref: '#/definitions/Application'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create Application
      description: |
        create an application
      parameters:
        - name: application
          in: body
          required: true
          schema:
            $ref: '#/definitions/Application'
      responses:
        200:
          description: the application was created successfully
        default:
          description: Unexpected error





  /applications/{name}:
    get:
      summary: Application
      description: gets a single application
      parameters:
        - name: name
          in: path
          description: The name of the application to be retrieved
          required: true
          type: string
      responses:
        200:
          description: a application
          schema:
            $ref: '#/definitions/Application'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Application
      description: |
        create an application
      parameters:
        - name: name
          in: path
          description: The name of the application to be updated
          required: true
          type: string
        - name: application
          in: body
          description: The name of the application to be updated
          required: true
          schema:
            $ref: '#/definitions/Application'
      responses:
        200:
          description: the application was updated successfully
        default:
          description: Unexpected error
    delete:
      summary: Application
      description: |
        create a application
      parameters:
        - name: name
          in: path
          description: The name of the application to be deleted
          required: true
          type: string
      responses:
        200:
          description: the application was deleted successfully
        default:
          description: Unexpected error





  /manifests:
    get:
      summary: Manifests
      description: |
        A manifest contains a list of application versions being worked on.
      tags:
        - Manifests
      responses:
        200:
          description: An array of manifests
          schema:
            type: array
            items:
              $ref: '#/definitions/Manifest'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Manifest
      description: |
        create an manifest
      parameters:
        - name: manifest
          in: body
          required: true
          schema:
            $ref: '#/definitions/Manifest'
      responses:
        200:
          description: the manifest was created successfully
        default:
          description: Unexpected error





  /manifests/{name}:
    get:
      summary: Manifest
      description: gets a single manifest
      parameters:
        - name: name
          in: path
          description: The name of the manifest to be retrieved
          required: true
          type: string
      responses:
        200:
          description: a manifest
          schema:
            $ref: '#/definitions/Manifest'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Manifest
      description: |
        create an manifest
      parameters:
        - name: name
          in: path
          description: The name of the manifest to be updated
          required: true
          type: string
        - name: manifest
          in: body
          description: The name of the manifest to be updated
          required: true
          schema:
            $ref: '#/definitions/Manifest'
      responses:
        200:
          description: the manifest was updated successfully
        default:
          description: Unexpected error
    delete:
      summary: Manifest
      description: |
        create a manifest
      parameters:
        - name: name
          in: path
          description: The name of the manifest to be deleted
          required: true
          type: string
      responses:
        200:
          description: the manifest was deleted successfully
        default:
          description: Unexpected error





  /environments:
    get:
      summary: Environments
      description: |
        A environment contains a list of manifests being worked on.
      tags:
        - Environments
      responses:
        200:
          description: An array of environments
          schema:
            type: array
            items:
              $ref: '#/definitions/Environment'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Environment
      description: |
        create an environment
      parameters:
        - name: environment
          in: body
          description: The name of the manifest to be created
          required: true
          schema:
            $ref: '#/definitions/Environment'
      responses:
        200:
          description: the environment was created successfully
        default:
          description: Unexpected error





  /environments/{name}:
    get:
      summary: Environment
      description: gets a single environment
      parameters:
        - name: name
          in: path
          description: The name of the environment to be retrieved
          required: true
          type: string
      responses:
        200:
          description: a manifest
          schema:
            $ref: '#/definitions/Environment'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Environments
      description: |
        create an environment
      parameters:
        - name: name
          in: path
          description: The name of the environment to be updated
          required: true
          type: string
        - name: environment
          in: body
          description: The name of the environment to be updated
          required: true
          schema:
            $ref: '#/definitions/Environment'
      responses:
        200:
          description: the environment was updated successfully
        default:
          description: Unexpected error
    delete:
      summary: Environments
      description: |
        create an environment
      parameters:
        - name: name
          in: path
          description: The name of the environment to be deleted
          required: true
          type: string
      responses:
        200:
          description: the environment was deleted successfully
        default:
          description: Unexpected error





definitions:
  Application:
    properties:
      name:
        type: string
      description:
        type: string
      type:
        type: string
      platform:
        type: string
      tags:
        type: array
        items:
          type: string
  ApplicationVersion:
    properties:
      name:
        type: string
      value:
        type: string
  Environment:
    properties:
      name:
        type: string
      manifests:
        type: array
        items:
          type: string
  Manifest:
    properties:
      name:
        type: string
        description: the name of the manifest
      status:
        type: string
        description: the status of the manifest (in_progress, released)
      application_versions:
        type: array
        items:
          $ref: '#/definitions/ApplicationVersion'
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
